spring:
  profiles:
    active: dev
  boot:
    admin:
      client:
        enabled: false
  main:
    banner-mode: console

server:
  error:
    whitelabel:
      enabled: false
    include-exception: false
    include-stacktrace: never
    include-message: never
    include-binding-errors: never
