spring:
  profiles:
    active: dev
  boot:
    admin:
      client:
        enabled: false

server:
  error:
    whitelabel:
      enabled: false
    include-exception: false
    include-stacktrace: never
    include-message: never
    include-binding-errors: never

security:
  users:
    - username: admin
      password: admin1234
      roles: [ADMIN]
    - username: xsware
      password: xsware1234
      roles: [USER]